@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


body {
    position: relative;
    background-color: #000;
    max-height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    color: greenyellow;
    font-family: 'Audiowide', sans-serif;
    font-weight: 900;
    font-size: 2.2rem;
    margin-top: 1rem;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.8em currentColor;
}

.containerDibu {
    display: flex;
    justify-content: center;
}

.dibujo {
    width: 40%;
    height: auto;
    filter: drop-shadow(0 0 1.5rem greenyellow);
    animation-duration: 2s infinite;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.containerCarousel {
    margin-top: 4rem;
    margin-bottom: 2rem;
}


.carousel-item img {
    border-radius: 15px;
    max-width: 100vw;
    object-fit: cover;
}

.carousel-indicators {
    position: absolute;
    top: -1.5rem;
}

.carousel-indicators button {
    background-color: greenyellow !important;
}


/*Boton de neon para ir a la tienda*/
.tienda {
    display: flex;
    justify-content: center;
}

.neon-button {
    font-size: 1.3rem;
    font-family: 'Audiowide', sans-serif;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: greenyellow;
    border: greenyellow 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 greenyellow, 0 0 0.5em 0 greenyellow;
    position: relative;
    margin-bottom: 2.5rem;
}

.neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1.5rem 0.5em greenyellow;
    opacity: 0;
    background-color: greenyellow;
    z-index: -1;
    transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
    color: #000;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
}

.neon-button:hover::before,
.neon-button:focus::before {
    opacity: 1;
}

.neon-button:hover::after,
.neon-button:focus::after {
    opacity: 1;
}

/* CAROUSEL PARA BRANDS */
.slickBrands div {
    background-color: #000;
}

.slickBrands div img {
    width: 60%;
    filter: drop-shadow(0 0 0.5rem greenyellow);
    margin: 0.5rem 1rem;
    border-radius: 10px;
}