@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    position: relative;
    background-color: #000;
}

.titulo h1 {
    display: flex;
    justify-content: center;
    color: greenyellow;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.8rem;
    margin-top: 1rem;
}

.dibujo {
    width: 30vw;
    height: 45vh;
    filter: drop-shadow(0 0 1.5rem greenyellow);
}

.paralelogramo {
    clip-path: polygon(33% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: inset(10% 10% 10% 10% round 20%, 20%);
    padding-right: 1rem;
    max-height: 65vh;
}

.carousel-item img {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    max-width: 100%;
    max-height: 65vh;
    object-fit: cover;
}

.carousel-indicators {
    padding-left: 2.5rem !important;
}